* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)),url(src/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

body {
    background-color: cadetblue;
}

main {
    background-color: cornsilk;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0.473);
}