* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
body {
    background-color: cadetblue;
}

main {
    background-color: cornsilk;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0.473);
}